In [1]:
import pandas as pd 
import re
from ast import literal_eval
df=pd.read_csv('Master_data.csv')
df.head()

,Unnamed: 0,Title,Grabber,Specs,Price,Unnamed: 0.1
0,0,\nHonda Accord 2.2 i-CDTi Sport 4dr\n,NaN,"['2003 (53 reg)', 'Saloon', '137,000 miles', '...",550.0,0.0
1,1,\nHonda Jazz 1.4 i-DSI SE 5dr\n,cheap and most reliable car,['\n\nCAT\n\n\nWrite-off Category Icon\n\n\n\n...,705.0,1.0
2,2,\nHonda Civic 1.4 i Max Limited Edition 5dr\n,Honda Civic 2002,"['2002 (52 reg)', 'Hatchback', '58,000 miles',...",950.0,2.0
3,3,\nHonda Jazz 1.4 i-DSI SE 5dr\n,JULY 2021 MOT+2 KEYS+,"['2006 (56 reg)', 'Hatchback', '122,500 miles'...",995.0,3.0
4,4,\nHonda Civic 1.4 MAX 5d 88 BHP MOT - 01/09/20...,CALL 07977223024 FOR QUESTIONS,"['2001 (51 reg)', 'Hatchback', '91,762 miles',...",995.0,4.0

In [2]:
df.shape

(102424, 6)

In [3]:
df['Specs']=df['Specs'].apply(literal_eval) #string to list
#year
def get_year(specs):
    for i in range(0, len(specs)):
        if bool(re.search('\d\d\d\d', specs[i]))==True and 'reg' in specs[i]: 
            return specs[i] 
        
df['year']=df['Specs'].apply(get_year)
df['year']=df['year'].apply(lambda x: x[:4] if x!=None else None)
df['year'].head()

0    2003
1    2003
2    2002
3    2006
4    2001
Name: year, dtype: object

In [4]:
#styles
list_styles=['Hatchback', 'Estate','Coupe','MPV','Saloon','SUV','Convertible','Pickup']

def get_styles(specs):
    list_styles=['Hatchback', 'Estate','Coupe','MPV','Saloon','SUV','Convertible','Pickup']
    for i in range(0, len(specs)):
        if specs[i] in list_styles:
            return specs[i]
df['style']=df['Specs'].apply(get_styles)
df['style'].head()

0       Saloon
1    Hatchback
2    Hatchback
3    Hatchback
4    Hatchback
Name: style, dtype: object

In [5]:
#miles  
def get_miles(specs):
    for i in range(0, len(specs)):
        if 'miles' in specs[i]:
            return specs[i]
df['miles']=df['Specs'].apply(get_miles)
df['miles']=df['miles'].apply(lambda x: int(''.join(n for n in x if n.isdigit() )) if x!=None else None)
df['miles'].head()

0    137000.0
1    106262.0
2     58000.0
3    122500.0
4     91762.0
Name: miles, dtype: float64

In [6]:
#Engine
def get_eng(specs): 
    for i in range(0, len(specs)):
        if bool(re.search('\d\.(\d)+[L]',specs[i]))==True: 
            return specs[i]
df['engine']=df['Specs'].apply(get_eng)
df['engine']=df['engine'].apply(lambda x: float(''.join(n for n in x if (n.isdigit() or n =='.'))) if x!=None else None)
df['engine'].head()

0    2.2
1    1.4
2    1.4
3    1.4
4    NaN
Name: engine, dtype: float64

In [7]:
#horsepower - measurements are resonably comparable so we don't bother converting
def get_power(specs):
    for i in range(0, len(specs)): 
        if bool(re.search('(\d)+[BHPS]{2,3}',specs[i]))==True:
            return specs[i]
df['power']=df['Specs'].apply(get_power)
df['power']=df['power'].apply(lambda x: int(''.join(n for n in x if n.isdigit())) if x!=None else None)
df['power'].head()

0    138.0
1     82.0
2     89.0
3     82.0
4     89.0
Name: power, dtype: float64

In [8]:
#transmission
def get_transmission(specs):
    if 'Manual' in specs: 
        return 'Manual'
    elif 'Automatic' in specs: 
        return 'Automatic'
df['transmission']=df['Specs'].apply(get_transmission)
df['transmission'].head()

0    Manual
1    Manual
2    Manual
3    Manual
4    Manual
Name: transmission, dtype: object

In [9]:
#fuel

def get_fuel(specs):
    if 'Petrol' in specs:
        return 'Petrol'
    elif 'Diesel' in specs: 
        return 'Diesel'

df['fuel']=df['Specs'].apply(get_fuel)
print(df['fuel'].unique())
df['fuel'].head()

['Diesel' 'Petrol' None]

0    Diesel
1    Petrol
2    Petrol
3    Petrol
4    Petrol
Name: fuel, dtype: object

In [10]:
#owners
def get_owners(specs):
    for i in range(0, len(specs)):
        if 'owner' in specs[i]:
            return specs[i]
df['owners']=df['Specs'].apply(get_owners)
df['owners']=df['owners'].apply(lambda x: int(''.join(n for n in x if n.isdigit())) if x!=None else None)
df['owners'].head()

0    3.0
1    3.0
2    5.0
3    3.0
4    NaN
Name: owners, dtype: float64

In [11]:
#servhist
def get_servhist(specs):
    for i in range(0, len(specs)):
        if 'history' in specs[i]:
            return specs[i]
def serv_convertor(serv):
    if serv==None: 
        return None
    elif serv[:4]=='Full':
        return 'Full'
    elif serv[:4]=='Part':
        return 'Part'
    else: 
        return 'No'
    
df['serv_hist']=df['Specs'].apply(get_servhist)
print(df['serv_hist'].unique())
df['serv_hist']=df['serv_hist'].apply(serv_convertor)
df['serv_hist'].head(20)

[None 'Part service history' 'Full service history' 'No service history'
 'Full dealership history' 'Full service history partially by franchise']

0     None
1     None
2     None
3     None
4     None
5     Part
6     None
7     Full
8     None
9     None
10    None
11    None
12    None
13    None
14    Part
15    None
16    None
17    None
18      No
19    None
Name: serv_hist, dtype: object

In [12]:
#ULEZ - 1 if has, 0 if not
def get_ULEZ(specs):
    if 'ULEZ' in specs: 
        return 1
    else: 
        return 0

df['ULEZ']=df['Specs'].apply(get_ULEZ)
print(df['ULEZ'].unique())
df['ULEZ'].head()

[0 1]

0    0
1    0
2    0
3    1
4    0
Name: ULEZ, dtype: int64

In [13]:
#those which were previously written off and repaired 
df['CatN']= df['Specs'].apply(lambda x: 1 if bool(re.search('\d\d\d\d', x[0]))==False else 0)
print(df['CatN'].unique())
df['CatN'].head()

[0 1]

0    0
1    1
2    0
3    0
4    0
Name: CatN, dtype: int64

In [14]:
#doors
def get_doors(title):
    try: 
        return re.search('\dd(r)?', title)[0]
    except TypeError: 
        return None 
    
df['doors']=df['Title'].apply(get_doors)

def door_num(doors):
    try:
        return re.search('\d', doors)[0]
    except TypeError: 
        return None
    
df['doors']=df['doors'].apply(door_num)
df['doors']=df['doors'].apply(lambda x: int(x) if x !=None else None)
df['doors'].head()

0    4.0
1    5.0
2    5.0
3    5.0
4    5.0
Name: doors, dtype: float64

In [15]:
#make and model
def get_make_model(title):
    title=title[1:]
    words=title.split(' ')
    make_model_list=words[0:2] #this wont be perfect but will likely just use brand anyway
    make_model=' '.join(make_model_list)
    return make_model
df['model']=df['Title'].apply(get_make_model)
df['model'].head()

0    Honda Accord
1      Honda Jazz
2     Honda Civic
3      Honda Jazz
4     Honda Civic
Name: model, dtype: object

In [16]:
df['Price'].head(10)

0     550.0
1     705.0
2     950.0
3     995.0
4     995.0
5     999.0
6    1000.0
7    1150.0
8    1200.0
9    1399.0
Name: Price, dtype: object

In [17]:
#converting prices to float

df['Price']=df['Price'].apply(lambda x: float(''.join(n for n in x if (n.isdigit() or n =='.'))))
df['Price'].head(10)

0     550.0
1     705.0
2     950.0
3     995.0
4     995.0
5     999.0
6    1000.0
7    1150.0
8    1200.0
9    1399.0
Name: Price, dtype: float64

In [18]:
#flags for issues in grabber
list_rep=['damage','damaged','nonrunner','non-runner','non runner','needs','need','px','px to clear','part','parts','exchange','repair','repairs','spare','spares','write off','written off','failed mot','mot fail', 'does not work']

In [19]:
def grabber_flag(grabber):
    if grabber==None: 
        return 0
    for flag in list_rep: 
        if flag in grabber: 
            return 1
    return 0

df['Grabber']=df['Grabber'].astype(str)
df['Grabber']=df['Grabber'].str.lower()
df['issue_flag']=df['Grabber'].apply(grabber_flag)
df['issue_flag'].head()

0    0
1    0
2    0
3    0
4    0
Name: issue_flag, dtype: int64

In [20]:
df.columns

Index(['Unnamed: 0', 'Title', 'Grabber', 'Specs', 'Price', 'Unnamed: 0.1',
       'year', 'style', 'miles', 'engine', 'power', 'transmission', 'fuel',
       'owners', 'serv_hist', 'ULEZ', 'CatN', 'doors', 'model', 'issue_flag'],
      dtype='object')

In [21]:
df.drop(['Unnamed: 0','Title','Specs','Unnamed: 0.1'],axis=1, inplace=True)

In [22]:
df.head()

,Grabber,Price,year,style,miles,engine,power,transmission,fuel,owners,serv_hist,ULEZ,CatN,doors,model,issue_flag
0,nan,550.0,2003,Saloon,137000.0,2.2,138.0,Manual,Diesel,3.0,None,0,0,4.0,Honda Accord,0
1,cheap and most reliable car,705.0,2003,Hatchback,106262.0,1.4,82.0,Manual,Petrol,3.0,None,0,1,5.0,Honda Jazz,0
2,honda civic 2002,950.0,2002,Hatchback,58000.0,1.4,89.0,Manual,Petrol,5.0,None,0,0,5.0,Honda Civic,0
3,july 2021 mot+2 keys+,995.0,2006,Hatchback,122500.0,1.4,82.0,Manual,Petrol,3.0,None,1,0,5.0,Honda Jazz,0
4,call 07977223024 for questions,995.0,2001,Hatchback,91762.0,NaN,89.0,Manual,Petrol,NaN,None,0,0,5.0,Honda Civic,0

In [23]:
df.to_csv('master_data_cleaned.csv')